.about-hero {
  background-image: image-set(
    url(../images/about-hero-image.jpg) 1x,
    url(../images/about-hero-image_2x.jpg) 2x,
    url(../images/about-hero-image_3x.jpg) 3x
  );
}

.about-hero__patterns {
  background-image: url(../images/about-hero-patterns.svg);
}

.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 160px 70px;
}

.about-us-image {
  margin-inline-start: -200px;
}

.about-us__info {
  max-inline-size: 650px;
}

.about-us__title {
  margin-block: 8px 14px;
  max-inline-size: 500px;
}

.about-us__text + .about-us__text {
  margin-block-start: 50px;
}

.about-us-advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
  margin-block: 50px 60px;
}

.about-us-advantages__card {
  display: flex;
  align-items: center;
  gap: 15px;
}

.about-us-advantages__card-title {
  font-weight: 500;
  font-size: 25px;
}

.choose-us {
  padding-block: 190px;
  background-color: var(--dark-bg-color);
}

.choose-us__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 90px;
}

.choose-us__info {
  max-inline-size: 670px;
}

.choose-us__title {
  margin-block: 6px 25px;
  max-inline-size: 520px;
}

.choose-us__text {
  margin-block-end: 35px;
}

.choose-us-image {
  border-radius: 30px;
}

.choose-us-info__advantages__wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.choose-us-info__advantages-title {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-block-end: 12px;
  border-radius: 50px;
  padding: 30px;
  font-weight: var(--button-weight);
  font-size: 20px;
  background-color: var(--advantages-title-bg);
  inline-size: 330px;
}

.choose-us-info__advantages-title::before {
  content: url(../images/icons/choose-us-icon.svg);
  block-size: 19px;
}

.choose-us-info__advantages-text {
  margin-inline-start: 60px;
  max-inline-size: 444px;
}

.choose-us-advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.choose-us-advantages__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 50px 35px 20px 35px;
  text-align: center;
  background-color: #fff;
  max-inline-size: 260px;
}

.choose-us-advantages__card-image__wrapper {
  display: flex;
  margin-block-end: 15px;
  border-radius: 18px;
  background-color: var(--dark-bg-color);
  inline-size: 95px;
  block-size: 95px;
}

.choose-us-advantages__card-image {
  margin: auto;
}

.choose-us-advantages__card-title {
  margin-block-end: 12px;
  font-size: 23px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 200px;
}

.team-title {
  margin-block-end: 15px;
}

.team-text {
  margin-block-end: 40px;
  text-align: center;
  max-inline-size: 852px;
}

.team-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team-card {
  border-radius: 30px;
  background-color: var(--dark-bg-color);
  transition: 0.2s;
}

.team-card:hover {
  box-shadow: 0px 29px 44px 0px #96969640;
  background-color: #fff;
}

.team-card__image {
  max-inline-size: 350px;
}

.team-card__info {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 35px 30px;
}

.team-card__info-name {
  margin-block-end: 2px;
  font-size: 25px;
}

.team-card__info-job {
  font-size: 22px;
}

.team-card__info-social-media__icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.about-us-offer {
  margin-block-end: 150px;
  padding-block: 190px;
  background-color: var(--title-color);
}

.about-us-offer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-offer__title {
  margin-block: 8px 33px;
  color: #fff;
}

.about-us-offer__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.about-us-offer__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.about-us-offer__card-image {
  border-radius: 30px;
}

.about-us-offer__card-description {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: var(--button-weight);
  font-size: 25px;
  line-height: 1.2em;
}

@media (width <= 1600px) {
  .about-us-image {
    margin-inline-start: -100px;
    max-inline-size: 700px;
  }

  .about-us-advantages__card-title {
    font-size: 22px;
  }

  .choose-us-image {
    max-inline-size: 600px;
  }

  .about-us-offer__card-image {
    max-inline-size: 270px;
  }

  .about-us-offer__card-description {
    font-size: 22px;
  }
}

@media (width <= 1350px) {
  .about-us-image {
    max-inline-size: 650px;
  }

  .about-us-advantages__card-title {
    font-size: 20px;
  }

  .choose-us-image {
    max-inline-size: 500px;
  }

  .team-card__image {
    max-inline-size: 350px;
  }
}

@media (width <= 1170px) {
  .about-us-image {
    display: none;
  }

  .choose-us-image {
    display: none;
  }
}

@media (width <= 570px) {
  .about-us {
    padding-block: 70px;
  }

  .choose-us {
    padding-block: 70px;
  }

  .choose-us-info__advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .choose-us-info__advantages-title {
    padding: 10px;
    font-size: 20px;
    inline-size: 200px;
  }

  .choose-us-info__advantages-text {
    margin-inline-start: 0;
  }

  .team-card__info {
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }

  .team-card__image {
    max-inline-size: 250px;
  }

  .about-us-offer__title {
    text-align: center;
  }
}
