.news-page__hero {
  padding-block-start: 730px;
  background-image: image-set(
    url(../images/news-page-image.jpg) 1x,
    url(../images/news-page-image_2x.jpg) 2x,
    url(../images/news-page-image_3x.jpg) 3x
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.news-page__inner {
  margin-block-start: -200px;
}

.news-page__info {
  border-radius: 30px;
  padding: 80px;
  background-color: #fff;
  box-shadow: 0px 14px 36px 0px var(--box-shadow-hero-info-color);
  margin-block-end: 80px;
}

.news-page__info-date {
  display: inline-block;
  font-size: 18px;
  font-weight: var(--main-wight);
  margin-inline-end: 30px;
  margin-block-end: 20px;
}

.news-page__info-date__span {
  font-weight: 600;
  font-size: 18px;
}

.news-page__card-info__autor {
  display: inline-block;
  align-items: center;
  margin: 0 0 20xp 0;
}

.news-page__card-info__autor-image {
  display: inline-block;
  inline-size: 18px;
  block-size: 20px;
  margin-inline-end: 8px;
}

.news-page__info-title {
  margin-block-end: 20px;
}

.news-page__info-text {
  max-inline-size: 700px;
}

.news-page__texts {
  margin-block-end: 120px;
  padding-inline: 230px;
}

.news-page__text {
  margin-block-end: 30px;
}

.news-page__title {
  margin-block-end: 25px;
}

.news-page__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news-page__item {
  margin-inline-start: 20px;
}

ul .news-page__item {
  list-style: disc;
}

.news-page__quote {
  padding: 70px;
  font-weight: var(--button-weight);
  margin-block: 50px;
  background-color: var(--border-color);
  border-radius: 30px;
}

@media (width <= 1270px) {
  .news-page__texts {
    margin-block-end: 70px;
    padding-inline: 100px;
  }
}

@media (width <= 970px) {
  .news-page__texts {
    padding-inline: 10px;
  }

  .news-page__info {
    padding: 30px;
  }

  .news-page__quote {
    padding: 30px;
  }
}
